services:
  - type: redis
    name: xhess-redis
    ipAllowList: []
    plan: free
    maxmemoryPolicy: allkeys-lru

  - type: web
    name: xhess-server
    env: docker
    dockerfilePath: ./Dockerfile
    target: server
    plan: free
    envVars:
      - key: PORT
        value: 8000
      - key: NODE_ENV
        value: production
      - key: REDIS_URL
        fromService:
          type: redis
          name: xhess-redis
          property: connectionString
      - key: FIREBASE_PROJECT_ID
        value: check-and-mate-26c90
      - key: FIREBASE_CLIENT_EMAIL
        value: firebase-adminsdk-fbsvc@check-and-mate-26c90.iam.gserviceaccount.com
      - key: CORS_ORIGIN
        value: https://xhess-web.onrender.com

  - type: web
    name: xhess-web
    env: docker
    dockerfilePath: ./Dockerfile
    target: prod
    plan: free
    dockerBuildArgs:
      NEXT_PUBLIC_BACKEND_URL: https://xhess-api.onrender.com
    envVars:
      - key: PORT
        value: 3000
      - key: NEXT_PUBLIC_BACKEND_URL
        value: https://xhess-api.onrender.com